[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl
