[submodule "tmp/third_party/tesseract"]
	path = tmp/third_party/tesseract
	url = https://github.com/tesseract-ocr/tesseract
[submodule ".tmp/third_party/json"]
	path = .tmp/third_party/json
	url = https://github.com/nlohmann/json
[submodule ".tmp/third_party/protobuf"]
	path = .tmp/third_party/protobuf
	url = https://github.com/google/protobuf
[submodule "common/libpng"]
	path = common/libpng
	url = https://github.com/glennrp/libpng
[submodule "common/sdl2"]
	path = common/sdl2
	url = https://github.com/jomof/sdl2
[submodule "common/re2"]
	path = common/re2
	url = https://github.com/jomof/re2
